---
import Blogpost from "../components/Blogpost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "Blog page";
console.log(allPosts[0])

---
<BaseLayout pageTitle={pageTitle}>
    <ul>
      {allPosts.map((post: any) => <Blogpost url={post.url} title={post.frontmatter.title}/>)}
    </ul>
    <h2>Thia is my astro blog site</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
      repellat?
    </p>
</BaseLayout>